<form (keydown.enter)="createJoke(setup.value, punchline.value)">
  <div class="card card-block">
    <h4 class="card-title">Add A New Joke</h4>
    <div class="form-group">
      <input type="text"
            class="form-control"
            placeholder="Enter the setup"
            #setup>
    </div>
    <div class="form-group">
      <input type="text"
            class="form-control"
            placeholder="Enter the punchline"
            #punchline>
    </div>
    <div class="actions">
    <button type="button"
            class="btn btn-primary btn-sm" (click)="createJoke(setup.value, punchline.value)"
            ><i class="fa fa-plus"></i> Create
    </button>
    </div>
  </div>
</form>